MAVLINK_ENDPOINT=udpout:192.168.31.14:14550
MAVLINK_BAUD=115200
MAVLINK_SOURCE_SYSTEM=250
MAVLINK_SOURCE_COMPONENT=191
MAVLINK_TARGET_SYSTEM=1
MAVLINK_TARGET_COMPONENT=191
MAVLINK_ACK_TIMEOUT=0.8
MAVLINK_MAX_ATTEMPTS=3
CONTROL_MAX_AGE_MS=3000
MAVLINK_DRY_RUN=0
CONTROL_DEBUG=0
